.wide-individual.handle-onclick .individual__songs-list-show {
    display: none;
}

.wide-individual.handle-onclick .individual__songs-list-lists {
    height: unset;
}

.wide-individual.handle-onclick .individual__home-selec {
    display: none;
}

.wide-individual.handle-onclick .individual-music .individual__home-selec {
    display: flex;
}

.wide-individual.handle-onclick .app-show-content {
    flex-wrap: wrap;
}

.wide-individual.handle-onclick .col {
    margin-bottom: 40px;
}

.wide-individual.handle-onclick .individual__songs-list-descrip {
    display: flex;
}

.avtactiveonplay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding-top: 30%;
}

.individual__songs-list-item.audio-onplay .avt-background-hover {
    background-color: var(--color-background-hover);
}

.individual__songs-list-item.audio-onplay .avtactiveonplay {
    display: block;
}

.individual__songs-list-item.audio-onplay .avt-play {
    display: none;
}

.on-popup.app__popup .app__player {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.app__content.on-individual .individual,
.app__content.on-discover .discover,
.app__content.on-zingchart .zingchart,
.app__content.on-radio .discover,
.app__content.on-singer .discover {
    display: block;
}


.app__content.on-radio .hide-while-on-radio,
.app__content.on-singer .hide-while-on-singer {
    display: none;
}

.app__content.on-radio .show-while-on-radio,
.app__content.on-singer .show-while-on-singer {
    display: block;
}


.app__content.on-radio .radio__highlight {
    margin-top: 40px;
}

.app__content.on-singer .singer {
    margin-top: var(--height-content-heading);
}

